<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be The Teacher</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <header>
    <div class="container">
        <div class="logo ">
            <h3>  Be the Teachers </h3>
        </div>
        <nav>
            <a href="/">Teachers</a>
            <a href="/students">Students</a>
        </nav>
    </div>
    </header>
    
       {% block content%}
  
       {% endblock content%}

    <script src="/script.js"></script>
</body>
</html>