@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

:root{
    --padrao-color:#004A39;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1600px;
    width: 100%;
}

body{
    background-color: #ccc;
}
header{
       background-color: #109D7C;
       width: 100%;
}

header .container{
    width: 100%;
    padding: 32px;
    text-align: center;
    background-color: #109D7C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


header .logo h3{
    font-size: 38px;
    font-weight: normal;
    color: var(--padrao-color);
}

nav{
    font-size: 22px;
}

nav a{
    text-decoration: none;
    color: #fff;
    position: relative;
    text-shadow: 0px 0px 1px ;
}
nav a:hover{
    color: var(--padrao-color);
    transition: 700ms;
}

nav a + a{
    margin-left: 32px;
}

nav a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--padrao-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

nav a:hover::after{
    width: 100%;
    transition: width 700ms ease-in-out ;
}

/* AREA LOGIN */

.login{
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--padrao-color);

}
.area-login{
    display: flex;
    align-items: center;

}
.area-login span{
    color: #fff;
    font-size: 50px;
    padding: 10px;
}

.login-logo h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 400;
}
.login-logo h1 span{
     font-size: 38px;
       color: #fff;
}

/* input{
 height: 50px;
 padding: 8px;
 font-size: 16px;
font-weight: 100;
color: var(--padrao-color)
}

input::placeholder{
font-size: 16px;
font-weight: 100;
color: var(--padrao-color)

}

.area-login{
    
}

input[type='submit']{
color: #fff;
background-color: #109D7C;
cursor: pointer;
transition: 0.5s;
border:0;

} */

/* ===card === */

.card{
   
  
    width: 1200px;
    min-width: 400px;
    margin: 32px auto;
    background-color: #fff;
    display: flex;
    grid-template-columns: 1fr 1fr;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    animation-name: up;
    animation-duration: 700ms;
    animation-timing-function:ease-in-out;
}

@keyframes up{
    from{
          opacity: 0;
          transform: translateY(15px);
    }
    to{
       opacity: 1;
    }
    }



/* === details === */
.avatar{
   width: 40%;
}

.details{
    padding: 32px;
    width: 60%;
}

.details .item{
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding: 16px 0;
}

.details .item:last-child{
    border-bottom: none;
}

.details h3,
.details .item div:nth-child(1){
font-size: 16px;
line-height: 32px;
color: #777;
letter-spacing: 2px;
font-weight: 700;
}

.details .item div:nth-child(2){
    color:#555;
    font-weight: bold;
    font-size: 18px;
}

.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--padrao-color);
}

.details .item div:nth-child(2) span{
    padding: 8px 16px;
    background-color: var(--padrao-color);
    border-radius: 16px;
    color: #fff;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;

}

/* === FORM ====*/

input{
    width: 100%;
    outline: none;
    border: none;
     font-size: 16px;
    font-weight: normal;

}

input[type="radio"]{
    width: initial;
    margin-right: 4px;
    border: 1px solid red;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
    
}

button[type="submit"],
a.button{
    padding: 8px 32px;
    background-color: var(--padrao-color);
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

a.button{
    margin-top: 8px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: center;
}

#form-delete button[type="submit"]{
    background-color: firebrick;
    margin-top: 8px;
}