{% extends 'layout.njk' %}

{% block content%}
   

   <form class="card" method="post" action="/teacher"> 
         <section class="details">
             <h3>Dados Pessoais</h3>
   
                 <div class="item">
                         <div>Teacher</div>
                         <div>Wesley Guerra</div>
                 </div>

                 <div class="item">
                         <div>Idade</div>
                         <div>29</div>
                  </div>

               <div class="item">
                      <div>Grau de escolaridade</div>
                      <div>
                            Superior completo
                      </div>
               </div>

                    <div class="item">
                           <div>Acompanhamento</div>
                           <div>
                              <span>Matemática</span>
                              <span>ADS</span>
                           </div>
                    </div>

                 <div class="item">
                       <div>Desde</div>
                      <div>01/10/2019 </div>
                 </div>
  
         </section>

   
   <section class="avatar" style="background: url('https://source.unsplash.com/collection/8491653/500x500') no-repeat center center /cover"></section>
   
   
   
   </form>
{% endblock content%}